<section class="Body">
<div class="container">
  <div class="navbar">
    <div class="icon">
      <a href="../Html/home.html" class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Formula_1_logo.svg/2560px-Formula_1_logo.svg.png" alt="Formula 1" class="logo">
      </a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="./Drivers.html">DRIVERS</a></li>
        <li><a href="./Cars.html">CARS</a></li>
        <li><a href="./Circuits.html">CIRCUITS</a></li>
        <li><a href="./Developments.html">DEVELOPMENT</a></li>
      </ul>
    </div>
    <div class="search">
      <input class="srch" type="search" name="search" placeholder="Type to search">
      <a href="#"><button class="btn">Search</button></a>
    </div>
  </div>  
</div>

<!-- video -->
<div class="video-Container">
<video autoplay controls class="video">
  <source src="../assets/recources/videos/SkySports F1 2014 Intro.mp4" type="video/mp4">
  <source src="../assets/recources/videos/SkySports F1 2014 Intro.mp4" type="video/ogg">
</video>
</div>
<!-- end of video -->
<div class="video-bar">
<h3>Formula 1 2014</h3>
</div>
</section>
<router-outlet />
